# Server
PORT=3000
NODE_ENV=development

# Database (TimescaleDB)
DB_HOST=localhost
DB_PORT=5444
DB_USER=seu_usuario
DB_PASS=sua_senha
DB_NAME=nome_do_banco

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Safety Gateways
VITAL_GATEWAY_URL=http://localhost:8443